<div class="modal fade" id="detailModal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content custom-modal">
      <div class="modal-header-custom">
        <div>
          <h4 id="modalJudul"></h4>
          <small>Rekomendasi Belajar</small>
        </div>
        <button class="btn-close" data-bs-dismiss="modal">✕</button>
      </div>

      <div class="modal-body p-4">
        <div class="user-box">
          <div>
            <small>Nama</small>
            <h6 id="modalNama"></h6>
          </div>

          <div class="text-end">
            <small>Skor</small>
            <div class="score-badge" id="modalSkor"></div>
          </div>
        </div>

        <div class="grid-2">
          <div class="info-card">
            <span>Waktu</span>
            <p id="modalWaktu"></p>
          </div>

          <div class="info-card">
            <span>Pola</span>
            <p id="modalPola"></p>
          </div>
        </div>

        <div class="section">
          <h6>Deskripsi</h6>
          <p id="modalDeskripsi"></p>
        </div>

        <div class="section">
          <h6>Tips</h6>
          <ul id="modalTips" class="list"></ul>
        </div>

        <div class="section">
          <h6>Alasan</h6>
          <ul id="modalAlasan" class="list"></ul>
        </div>

        <div class="section">
          <h6>Faktor Dominan</h6>
          <ul id="modalFaktor" class="list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
