<div class="modal fade" id="detailModal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content custom-modal">
      <div class="modal-header-custom">
        <div>
          <h4 id="modalJudul"></h4>
          <small>Rekomendasi Belajar</small>
        </div>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body p-4">
        <div class="user-box">
          <div>
            <small>Nama</small>
            <h6 id="modalNama"></h6>
          </div>

          <div class="text-end">
            <small>Skor</small>
            <div class="score-badge" id="modalSkor"></div>
          </div>
        </div>

        <div class="grid-2">
          <div class="info-card">
            <span>Waktu</span>
            <p id="modalWaktu"></p>
          </div>

          <div class="info-card">
            <span>Pola</span>
            <p id="modalPola"></p>
          </div>
        </div>

        <div class="section">
          <h6>Jadwal Belajar</h6>
          <div id="modalJadwal"></div>
        </div>

        <div class="section">
          <h6>Penjelasan</h6>
          <div class="p-3 bg-light rounded-3">
            <p id="modalNarasi" class="mb-0"></p>
          </div>
        </div>

        <div class="section">
          <h6>Faktor Utama</h6>
          <div id="modalFaktor"></div>
        </div>

        <div class="section">
          <h6>Tips Belajar</h6>
          <ul id="modalTips"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
