<footer class="pt-lg-13 bg-light py-8">
  <div class="container">
    <div class="row gy-8">
      <div class="col-md-12">
        <div class="">
          <a
            class="d-inline-flex gap-2 align-items-center lh-1"
            href="index.html"
          >
            <span class="text-primary"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-book"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                <path d="M3 6l0 13" />
                <path d="M12 6l0 13" />
                <path d="M21 6l0 13" /></svg
            ></span>
            <span class="fw-bold">Smart Study Planner</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
