 

  <section class="py-lg-13 py-8 bg-white position-relative" id="hero">
    <div class="circle-bg d-none d-lg-block"></div>
    <div class="container ">
      <div class="row align-items-center gy-8">
        <div class="col-lg-6">
          <h1 class="display-3 fw-bold mt-4">
            Optimalkan Waktu Belajar Anda
            <span class="text-primary">Secara Cerdas</span>
            Kapan Saja, Di Mana Saja
          </h1>
          <p class="my-6 lead fw-normal">
            Temukan pola dan waktu belajar yang paling cocok untuk Anda. Belajar jadi lebih efektif, terarah, dan sesuai dengan kebutuhan Anda.
          </p>

          <!-- Ganti untuk menampilkan jumlah responden-->
          <div class="d-flex gap-6 mt-8">
            <div class="d-flex align-items-center gap-2">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-users text-primary">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="9" cy="7" r="4" />
                  <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                  <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                  <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                </svg>
              </span>
              <small class="mb-0">
                <span class="fw-bold"><%= totalResponden %></span> Responden
              </small>
            </div>
          </div>
          <!-- End ganti dengan jumlah responden-->
        </div>
        <div class="col-lg-6">
          <div class="card p-3 rounded-5  shadow-sm">
            <div class="position-relative">
              <div class="position-relative">
                <img src="./assets/images/hero-img.jpg" alt="about" class="rounded-5 img-fluid" />

                <a href="https://www.youtube.com/watch?v=CivuutI6lXY"
                  class="play-btn glightbox position-absolute top-50 start-50 translate-middle icon-shape icon-xl rounded-circle text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" />
                  </svg>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
  </section>
  

  <section class="py-lg-13 py-8 position-relative" id="riwayat">
    <div class="circle-bg d-none d-lg-block"></div>
    <div class="container py-lg-13">
      <div class="row  align-items-center gy-8">
        <div class="col-xl-6">
          <div class="mb-10 pe-lg-12">
            <span class="text-primary text-uppercase small fw-semibold"
              style="letter-spacing: .125rem;">Community</span>
            <h2 class="fw-bold mt-4 mb-4">Join Our Thriving <span class="text-primary">Learning
                Community</span></h2>
            <p class="mb-0">
              Learning is better together. Join our community of 50,000+ students and unlock collaborative features that
              accelerate your growth.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-users">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="9" cy="7" r="4" />
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6">Study Groups</h4>
                  <p class="mb-0 small">Connect with like-minded learners and form study groups for collaborative
                    learning.</p>
                </div>

              </div>

            </div>

            <div class="col-md-6 mt-6 mt-md-0">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-message-circle">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6">Discussion Forums</h4>
                  <p class="mb-0 small">Engage in meaningful discussions and get answers from peers and mentors.</p>
                </div>

              </div>
            </div>


            <div class="col-md-6 mt-6">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-calendar-event">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="4" y="5" width="16" height="16" rx="2" />
                    <line x1="16" y1="3" x2="16" y2="7" />
                    <line x1="8" y1="3" x2="8" y2="7" />
                    <line x1="4" y1="11" x2="20" y2="11" />
                    <rect x="8" y="15" width="2" height="2" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6"> Live Sessions</h4>
                  <p class="mb-0 small">Join live Q&A sessions and workshops with industry experts.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-6">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-bell-ringing">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                    <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727" />
                    <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6">Peer Support</h4>
                  <p class="mb-0 small">Get help and support from fellow learners anytime you need it.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 mt-6">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-world">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="9" />
                    <line x1="3.6" y1="9" x2="20.4" y2="9" />
                    <line x1="3.6" y1="15" x2="20.4" y2="15" />
                    <path d="M12 3a17.3 17.3 0 0 0 0 18" />
                    <path d="M12 3a17.3 17.3 0 0 1 0 18" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6">Global Community</h4>
                  <p class="mb-0 small">Connect with students from 150+ countries worldwide.</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 mt-6">
              <div class="d-flex gap-4">
                <div class="icon-shape icon-md bg-primary bg-opacity-10 rounded-circle text-primary flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-heart-handshake">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    <path
                      d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25" />
                    <path d="M12.5 15.5l2 2" />
                    <path d="M15 13l2 2" />
                  </svg>
                </div>
                <div>
                  <h4 class="h6">Project Collaboration</h4>
                  <p class="mb-0 small">Work on real-world projects with your peers.</p>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-10">
            <div class="col-lg-12">
              <a href="#!" class="btn btn-primary">Join Community</a>
            </div>

          </div>
        </div>
        <div class="col-xl-6">
          <div class="card shadow-lg rounded-5">
            <div class="card-body p-8 py-8">

              <div class="row mb-4 justify-content-center gx-2 text-center ">
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-1.jpg" alt="Avatar 1"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-primary border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-2.jpg" alt="Avatar 2"
                    class="rounded-circle avatar avatar-xxxl border border-3  border-warning border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-3.jpg" alt="Avatar 3"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-danger border-opacity-25" />
                </div>
              </div>
              <div class="row mb-4 justify-content-center gx-2 text-center ">
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-3.jpg" alt="Avatar 1"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-primary border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-4.jpg" alt="Avatar 2"
                    class="rounded-circle avatar avatar-xxxl border border-3  border-warning border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-5.jpg" alt="Avatar 3"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-danger border-opacity-25" />
                </div>
              </div>
              <div class="row mb-4 justify-content-center gx-2 text-center ">
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-2.jpg" alt="Avatar 1"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-primary border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-1.jpg" alt="Avatar 2"
                    class="rounded-circle avatar avatar-xxxl border border-3  border-warning border-opacity-25" />
                </div>
                <div class="col-lg-4 col-md-4 ">
                  <img src="./assets/images/avatar-3.jpg" alt="Avatar 3"
                    class="rounded-circle avatar avatar-xxxl border border-3 border-danger border-opacity-25" />
                </div>
              </div>
            </div>
            <div class="position-absolute top-0 end-0  me-lg-n8 mt-n4">
              <div class="bg-white shadow-sm rounded-pill d-flex align-items-center gap-3 px-3 py-3  mb-4 border"
                style="width: 200px;">
                <div class="icon-shape icon-md rounded-circle bg-primary bg-opacity-10 text-primary ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-message-circle">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-bold">24/7 Support</span>
                  <small>Always here</small>
                </div>

              </div>
            </div>
            <div class="position-absolute bottom-0 start-0  ms-md-n8 mb-n8">

              <div class="bg-white shadow-sm rounded-pill d-flex align-items-center gap-3 px-3 py-3  mb-4 border"
                style="width: 200px;">
                <div class="icon-shape icon-md rounded-circle bg-primary bg-opacity-10 text-primary ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-world">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                    <path d="M3.6 9h16.8" />
                    <path d="M3.6 15h16.8" />
                    <path d="M11.5 3a17 17 0 0 0 0 18" />
                    <path d="M12.5 3a17 17 0 0 1 0 18" />
                  </svg>
                </div>
                <div class="d-flex flex-column">
                  <span class="fw-bold">150+ Countries</span>
                  <small>Worldwide reach</small>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
  </section>
  
  <section class="py-lg-13 py-8 bg-light bg-opacity-50" id="faq">
    <div class="container">
      <div class="accordion-container" id="accordion"></div>
    </div>
  </section>

  <footer class="pt-lg-13 bg-light py-8">
    <div class="container">
      <div class="row gy-8">
        <div class="col-md-12">
          <div class="">
            <a class="d-inline-flex gap-2 align-items-center lh-1" href="index.html">
              <span class="text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                  <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                  <path d="M3 6l0 13" />
                  <path d="M12 6l0 13" />
                  <path d="M21 6l0 13" />
                </svg></span>
              <span class="fw-bold">Smart Study Planner</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

